$base: 4px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xl-2: 28px;
$font-size-xl-3: 32px;

$color-gray-500: #333;
$color-red-500: #d41919;

$color-white: #ffffff;

$font-f-Poppins: "Poppins", sans-serif;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
